<div id="gossip">
<h1>Gossip n°<%= @id %></h1>
<p>Auteur : <%= @gossip.author %></p>
<p>Contenu : <%= @gossip.content %></p>
<p>Création : <%= @gossip.created_at.strftime("%d %b %Y à %Hh%M") %></p>
</div>